@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
}


  body {
    display: flex;
    place-items: center;
    background-color: #F5F5F5;
  }

  
